
/******************************************* Reset Browser CSS ****************************************************/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

abbr,acronym { 
	border:0;
}
/******************************************* End Reset Browser CSS ****************************************************/

/******************************************* Home Pages styles ****************************************************/
body{
	background:#FFFFFF url(../images/home_bg.jpg) scroll left top repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
body.sub_index{
	background:#FFFFFF url(../images/landing_page_bg.jpg) scroll left top repeat-x;
}
.sub_index_wrapper .top_section{
	background:url(../images/landing_page_main.jpg) scroll left top no-repeat;
	width:978px;
	height:594px;
	position:relative;
}
.sub_index_wrapper .top_section .home_text{
	position:absolute;
	left:63px;
	top:100px;
}
.home_black_text{
	margin-top:4px;
	font-size:16px;
	width:540px;
	margin-bottom:30px;
}
.sub_index_wrapper .top_section .index_sub_links{
	position:absolute;
	left:630px;
	top:100px;
}
.sub_index_wrapper .top_section .index_sub_links .how_works_btn{
	display:block;
	width:274px;
	height:71px;
	text-decoration:none;
	background:transparent url(../images/btn_large_sub_index.png) scroll 0px -142px no-repeat;
}
.sub_index_wrapper .top_section .index_sub_links .how_works_btn:hover{
	background-position:0px -213px;
}
.sub_index_wrapper .top_section .index_sub_links .login_now_btn{
	display:block;
	width:274px;
	height:71px;
	text-decoration:none;
	margin-top:20px;
	background:transparent url(../images/btn_large_sub_index.png) scroll 0px -284px no-repeat;
}
.sub_index_wrapper .top_section .index_sub_links .login_now_btn:hover{
	background-position:0px -355px; 
}
.sub_index_wrapper .top_section .index_sub_links .download_app_btn{
	display:block;
	width:274px;
	height:71px;
	text-decoration:none;
	margin-top:20px;
	background:transparent url(../images/btn_large_sub_index.png) scroll 0px 0px no-repeat;
}
.sub_index_wrapper .top_section .index_sub_links .download_app_btn:hover{
	background-position:0px -71px;
}
#download_options{
	width:264px;
	height:65px;
	padding-left:10px;
	padding-top:6px;
	color:#fff;
	position:absolute;
	background:url("../images/btn_large_sub_index.png") no-repeat scroll 0 -426px #548FDE;
}
#download_options a.close{
	text-decoration:none;
	position:absolute;
	right:19px;
}
#download_options a{
	color:#fff;
	font-weight:bold;
}
.index_parent_inner{

}
.index_parent_inner .middle_section{
	margin-top:0px;
	height:148px;
}
.index_parent_inner .middle_section .centerbodyleft_bg{
	background:url(../images/landing_page_left1.png) scroll left top no-repeat;
	width:16px;
	height:148px;
	float:left;
	margin:0px;
}
.index_parent_inner .middle_section .centerbodyright_bg{
	background:url(../images/landing_page_right1.png) scroll left top no-repeat;
	width:16px;
	height:148px;
	float:right;
	margin:0px;
}
.index_parent_inner ol{
	color:#000;
	list-style:decimal;
	margin-left:15px;
}
.index_parent_inner ul li, .index_parent_inner ol li {
	margin-left:10px;
	padding-left:0px;
}
.middle_section h1{
	color: #548FDE;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
}
.index_sub_footer #footer, .index_sub_footer #footer .footer_left,.index_sub_footer #footer .footer_right {
	margin-top:0px;
	height:67px;
}
.index_sub_footer #footer .footer_left{
	background:url(../images/footer_left_indexsub.png) scroll left top no-repeat;
	width:16px;
	height:67px;
	float:left;
}
.index_sub_footer{
	background:url(../images/footer_indexsub_bg.jpg) scroll left top repeat-x;
	margin-top:1px;
}
.index_sub_footer #footer .footer_right{
	background:url(../images/footer_right_indexsub.png) scroll left top no-repeat;
	width:16px;
	height:67px;
	float:right;
	margin-top:-70px;
}
.index_sub_footer #footer ul{
	padding-top:10px;
}
.index_parent_inner ul.blue_bullet{
	color: #000;
    font-size: 12px;
    list-style-image: url("../images/bullet_blue.gif");
    margin-left: 10px;
	margin-top:4px;
}
.small_text{
	font-size:12px;
}
.marg_t{
	margin-top:3px;
}
.body_cont_left{
	float:left;
	margin-left:46px;
	width:505px;
	margin-top:20px;
	margin-right:100px;
	font-size:14px;
}
.body_cont_left_photographer{
	float:left;
	margin-left:46px;
	width:705px;
	margin-top:20px;
	margin-right:0px;
	font-size:14px;
}
.body_cont_left_parent{
	float:left;
	margin-left:46px;
	width:516px;
	margin-top:20px;
	font-size:14px;
	height:115px;
	background:url("../images/parent_home.png") no-repeat scroll left 25px transparent;
}
.body_cont_right_parent{
	float:left;
	width:300px;
	margin-top:60px;
	padding-right:83px;
	text-align:right;
}
.body_cont_right_photographer{
	float:left;
	width:129px;
	height:105px;
	margin-top:25px;
	background:url(../images/photograpger_home.png) scroll left top no-repeat;
}
.body_cont_left_school{
	float:left;
	margin-left:35px;
	width:478px;
	margin-top:20px;
	text-align:left;
	height:110px;
	font-size:14px;
	background:url("../images/parent_home.png") no-repeat scroll left 25px transparent;
}
.body_cont_right_school{
	float:left;
	width:423px;
	margin-top:52px;
	padding-right:0px;
	text-align:right;
}
.body_cont_right_school a{
	font-size:18px;
	color:#548FDE;
}
#page_wrap{
	width:978px;
	margin:0 auto;
}
.f_l{
	float:left;
}
.clear{
	clear:both;
}

.top_section{
	background:url(../images/home_inner_bg.jpg) scroll left top no-repeat;
	width:978px;
	height:475px;
	position:relative;
}

.top_left{
	float:left;
	width:325px;
	height:372px;
	margin-top:97px;
	margin-bottom:-10px;
}

.top_left img{
	padding-left:54px;
	padding-top:15px;
}

.top_right{
	float:right;
	width:410px;
	font-weight:bold;
	margin-right:49px;
}

.top_nav{
	padding-top:23px;
	font-size:12px;
	margin-bottom:0px;
	padding-bottom:0px;
	float:right;
}

.top_nav ul li{
    display:inline;
   
}

.top_nav ul li a{
    color:#000000;
    text-decoration:none;
    display:block;
    width:79px;
    float:left;
    height:28px;
    margin-left:1px;
    margin-right:1px;
    line-height:28px;
    text-align:center;
	font-weight:normal;
}

.top_nav ul li a:hover{
    background:url(../images/top_nav_bg.png) scroll left center no-repeat;
}

.top_nav .active a{
    background:url(../images/top_nav_sel_bg.png) scroll center no-repeat;
    color:#000000;
    text-decoration:none;
    display:block;
    float:left;
    text-align:center;
    color:#FFFFFF;
}

a.sf_logo_home{
	position:absolute;
	left:63px;
	top:28px;
	width:218px;
	height:53px;
	display:block;
}
.home_text{
	position:absolute;
	left:390px;
	top:126px;
	width:550px;
}
.home_text a{
	color:#FFCC33;
	text-decoration:none;
}
.home_text .heading, .index_sub_links .heading{
	font-size:25px;
	font-family:"Arial Rounded MT Bold";
	color:#ffcc33;
	margin-bottom:15px;

}
.home_text ul, .index_sub_links ul{
	color:#FFF;
	margin-bottom:15px;
	list-style-image:url(../images/home_bullet.png);
	margin-left:15px;
}
.home_text ul li, .index_sub_links ul li
{
	font-size:19px;
	font-family:"Arial Rounded MT Bold";
}
.home_text ol{
	font-size:16px;
	color:#FFF;
	list-style:decimal;
	margin-left:15px;
}
.home_text .heading, .home_text .small_head, .index_sub_links .heading{
	text-shadow: #424242 1px 1px 1px;
	filter: Shadow(Color=#424242,Direction=120,Strength=2);
}
.home_text .small_head{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	color:#fff;
	margin-top:4px;
	margin-bottom:10px;
	font-weight:bold;	
}
ul.no_bullet{
	list-style-image:none;
	margin-left:0px;
}
.home_text ul li, .home_text ol li, .index_sub_links ul li, .index_sub_links ol li,{
	margin-left:10px;
	padding-left:0px;
	line-height:25px;
	font-weight:bold;
}
.home_text p{
	font-size:14px;
	padding:0px;
	line-height:18px; 
	font-weight:normal;
	color:#fff;
	margin-bottom:15px;
}


.home_text span{ vertical-align:middle; font-size:14px; padding:0px 8px 0px 8px;}

.home_text .btn_1{
	background:url(../images/btn_1.gif) scroll left center no-repeat;
	border:0 none;
	width:117px;
	height:41px;
	cursor:pointer;
	vertical-align:middle;
	color:#000000;
	padding-top:0px;
}

.home_text .btn_1:hover{
	background:url(../images/btn_1_hover.gif) scroll center no-repeat;
}

.btn_2{
	background:url(../images/btn_b.png) scroll left center no-repeat;
	border:0 none;
	width:117px;
	height:41px;
	cursor:pointer;
	color:#FFFFFF;
	vertical-align:middle;
}

.btn_2:hover{
	background:url(../images/btn_2_hover.png) scroll left center no-repeat;
}

.home_text .news_events{
	/*background:url(../images/news_events_bg.gif) scroll left top no-repeat;*/
	width:300px;
	height:71px;
	margin-top:20px;
	display:none;
}
.sf_logo{
	margin-top:10px;
	background-image:url("../images/snapfish_logo_hor.png");
	background-position:right center;
	background-repeat:no-repeat;
	color:#FFFFFF;
	font-family:Arial;
	font-size:11px;
	height:19px;
	padding-right:224px;
	padding-top:39px;
	width:105px;
}

.home_text .news_events ul li{ display:inline; padding:41px 0px 0px 0px; margin-top:115px;}

.home_text .news_events ul li img{ margin-right:-4px;}

.home_text .news_events ul .news:hover{
	background:url(../images/news_icon_hover.gif) scroll left center no-repeat;
}

.middle_section{
	margin-top:10px;
	height:110px;
}
.middle_section .heading{
	font-size:15px;
	margin-top:-5px;
	margin-bottom:5px;
}
.middle_section .links_div{
	width:946px;
	float:left;
}

.links_div .links_div_links {
	height:45px;
	width:900px;
}
.middle_section .links_div .links_div_links a{
	font-size:21px;
	font-family:"Arial Rounded MT Bold";
	text-decoration:none;
	color:#548fde;
	float:left;
	display:block;
	background-repeat:no-repeat;
	background-position:left;
	line-height:45px;
	padding:0 38px;
}

.links_div .links_div_links a.parent_main_link{
	background-image:url(../images/parent_link.png);
	padding-left:45px;
	margin-right:35px;
}
.links_div .links_div_links a.school_main_link{
	background-image:url(../images/school_link.png);
	padding-left:45px;
	margin-right:35px;
}
.links_div .links_div_links a.photographer_main_link{
	background-image:url(../images/photographer_link.png);
	padding-left:45px;
}
#photographer{
	float:left;
	width:265px;
	height:220px;
	margin-left:45px;
	/*background:url(../images/centerbody_bg.gif) scroll left top repeat-y;*/
	margin-top:-10px;
}

#parents{
	float:left;
	width:255px;
	height:220px;
	margin-left:40px;
}

#photographer ul, #parents ul{ }

#photographer h1{
	font-family:"Arial Rounded MT Bold";
	font-size:20px;
	background:url(../images/photographer_icon.gif) scroll left center no-repeat;
	padding-left:50px;
	padding-top:23px;
	height:47px;
	vertical-align:bottom;
	color:#dd7200;
}


#photographer ul li{
	/*background:url(../images/bullet_yellow.gif) scroll left top no-repeat;*/
	list-style-image:url(../images/bullet_yellow.gif);
	/*padding-left:18px;*/
	margin-left:20px;
	color:#626262;
	line-height:16px;
}

#parents h1{
	font-family:"Arial Rounded MT Bold";
	font-size:20px;
	background:url(../images/parent_icon.gif) scroll left top no-repeat;
	padding-left:55px;
	padding-top:14px;
	padding-bottom:0px;
	height:47px;
	/*vertical-align:bottom;*/
	color:#548fde;
}

#parents ul{ margin-top:-2px;}

#parents ul li{
	/*background:url(../images/bullet_blue.gif) scroll left top no-repeat;*/
	/*padding-left:18px;*/
	list-style-image:url(../images/bullet_blue.gif);
	margin-left:20px;
	color:#626262;
	line-height:16px;
	font-size-adjust:inherit;
}

#parents ul li a,#photographer ul li a{
	color:#626262;
}

#parents ul li a:hover,#photographer ul li a:hover{
	text-decoration:none;
}

.read_more{
	background:url(../images/btn2_bg.gif) scroll left center no-repeat;
	width:73px;
	height:33px;
	margin-top:8px;
	margin-left:17px;
}

.read_more a{
	display:block;
	color:#747474;
	text-align:center;
	line-height:33px;
	text-decoration:none;
}

.read_more a:hover{
	background:url(../images/btn2_hover.gif) scroll left center no-repeat;
	color:#fff;
}

.read_more_photographer{
	background:url(../images/btn2_hover.gif) scroll left center no-repeat;
	width:73px;
	height:33px;
	margin-top:8px;
	margin-left:17px;
}

.read_more_photographer a{
	display:block;
	color:#fff;
	text-align:center;
	line-height:33px;
	text-decoration:none;
}

.read_more_photographer a:hover{
	background:url(../images/btn2_bg.gif) scroll left center no-repeat;
	color:#747474;
}

#login_form{
	background:url(../images/loginform_bg.png) scroll left top no-repeat;
	width:253px;
	height:220px;
	float:left;
	margin-left:40px;
	margin-top:5px;
	margin-bottom:-10px;
	
}

#login_form form,input{ margin:0px; padding:0px;}

#login_form h1{
	padding:15px 0px 8px 27px;
	font-size:14px;
	color:#000000;
	font-weight:bold;
}

#login_form label{
	color:#626262;	
	padding-left:27px;
	font-size:11px;
	/*font-weight:bold;*/
}

#login_form .input_fields{
	width:197px;
	border:#bdbdbd 1px solid;
	padding:2px;
	margin-left:27px;
}

#login_form .login{
	background:url(../images/login_btn.gif) scroll 0 3px no-repeat;
	border:0 none;
	width:68px;
	height:32px;
	vertical-align:middle;
	color:#FFFFFF;
	margin-top:-2px;
}

#login_form .login:hover{
	background:url(../images/login_btn_hover.gif) scroll 0 3px no-repeat;
	color:#FFFFFF;
	cursor:pointer;
}

#login_form span{
	font-size:11px;
	text-align:right;
	padding-right:2px;
	padding-left:45px;
	letter-spacing:-1px;
}

#login_form span a{
	color:#626262;
	/*font-weight:bold;*/
	text-decoration:none;
}

#login_form span a:hover{
	text-decoration:underline;
}

.centerbodyleft_bg{
	background:url(../images/centerbodyleft_bg.jpg) scroll left top no-repeat;
	width:16px;
	height:100px;
	float:left;
	margin-top:-10px;
}

.centerbodyright_bg{
	background:url(../images/centerbodyright_bg.jpg) scroll left top no-repeat;
	width:16px;
	height:100px;
	float:right;
	margin-top:-10px;
}

#footer{
	text-align:center;
	margin-top:-8px;
	/*font-weight:bold;*/
}


#footer ul li{
	font-size:11px;
	display:inline;
	color:#646464;
	padding:0px 2px 0px 2px;
	line-height:27px;
}

#footer ul li a{
	color:#646464;
	text-decoration:none;
}


#footer ul li a:hover{
	color:#000000;
}

#footer h5{
	font-size:11px;
	color:#646464;
	/*font-weight:bold;*/
	/*margin-top:2px;*/
	margin-bottom:20px;
}

#footer h5 span a{
	font-size:11px;
	color:#646464;
	/*font-weight:bold;*/
	text-decoration:none;
}

#footer h5 span a:hover{
	color:#000000;
}

#footer .footer_left{
	background:url(../images/footer_left_bg.gif) scroll left top no-repeat;
	width:16px;
	height:80px;
	float:left;
	margin-top:-10px;
}

#footer .footer_right{
	background:url(../images/footer_right_bg.gif) scroll left top no-repeat;
	width:16px;
	height:80px;
	float:right;
	margin-top:-70px;
}
.error-div
{
	/*position: absolute;
	/*padding-right: 20px;*/
	padding-left: 3px;
	/*text-align:center;*/
	padding-top:18px;
	display: block;
}
.error {
	color:#CC3300;
	font-size:11px;
	/*text-align:center;*/
}
/******************************************* End Home Pages styles ****************************************************/
.movie_player_cont{
	float: right; 
	margin-top:-18px;
	background:url(../images/album_pic.png) scroll left top no-repeat;
	width:268px;
	height:101px;
}
a.y_btn_gs{
	color: #000 !important;
	text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
	float:left;
	background:url(../images/gs_btn.png) top left no-repeat;
	width:164px;
	height:38px;
	line-height:38px;
	display:block;
	text-decoration:none;
}
a.y_btn_gs:hover{
	background-position:0px -39px;
}
a.y_btn_gs_small{
	color: #000 !important;
	text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
	float:left;
	background:url(../images/gs_btn_small.png) top left no-repeat;
	width:125px;
	height:30px;
	line-height:30px;
	display:block;
	text-decoration:none;
}
a.y_btn_gs_small:hover{
	background-position:0px -30px;
}
.y_text{
	color:#FFCC33 !important;
}
.home_page_listing li{
	padding-bottom:7px;
}
.home_page_listing .y_btn_gs{
	margin-top:10px;
}
.home_page_listing .y_btn_gs, .home_page_listing #download_options{
	margin-left:15px;
}
