@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}
.dataTables_info
{
    padding-left:15px;
    display: none;
}
#pagination_paginate
{
    text-align: right;
    padding-right:0px;
}
.dataTables_length
{
    margin-left: 0px;
}
.dataTables_filter
{
    text-align: right;
    margin-right:-3px;
}
.user_contant
{
    margin-left: 5px;
    margin-right: 5px;
}
.input-sm
{
    margin-left: 5px;
    margin-right: 5px;
}
.header_title
{
    padding-left: 5px;
}
.header_notification
{
    padding-left: 5px;
}

.custom-btn{
 background-color: #2AB2DA !important;
 color: #fff !important;

}
#pagination2_paginate{
    text-align:right;
}